/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f7f4;
  color: #333;
}

/* Header styles */
header {
  background-color: #a6d2c2;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3 {
  color: #4e8c73;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.card h3 {
  margin-top: 0;
}

.read-more {
  background-color: #4e8c73;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.expanded-content {
  display: none;
  margin-top: 1rem;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  img {
    max-width: 100%;
  }
}

/* Footer styles */
footer {
  background-color: #a6d2c2;
  color: #333;
  padding: 1rem;
  text-align: center;
}
